align-cases=true
align-constructors-decl=true
align-variants-decl=true
break-cases=toplevel
break-infix-before-func=true
if-then-else=fit-or-vertical
let-binding-spacing=sparse
margin=100
type-decl=sparse
