align-constructors-decl=true
align-variants-decl=true
break-separators=before
dock-collection-brackets=false
if-then-else=fit-or-vertical
let-binding-spacing=double-semicolon
margin=100
type-decl=compact
